{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
        "legacyDecorator": true,
        "decoratorMetadata": true
    },
    "baseUrl": ".",
    "paths": {
      "@user/*": ["src/modules/user/*"],
      "@post/*": ["src/modules/post/*"],
      "@auth/*": ["src/modules/auth/*"],
      "@health/*": ["src/modules/health/*"],
      "@decorators/*": ["src/decorators/*"],
      "@directives/*": ["src/directives/*"],
      "@dto/*": ["src/dto/*"],
      "@types/*": ["src/types/*"],
      "@models/*": ["src/models/*"],
      "@providers/*": ["src/providers/*"],
      "@tests/*": ["src/tests/*"],
      "@mocks/*": ["src/tests/mocks/*"],
      "src/*": ["src/*"],
      "*": [
        "node_modules",
        "src/*"
      ]
    }
  },
  "minify": false
}