{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
        "legacyDecorator": true,
        "decoratorMetadata": true
    },
    "baseUrl": ".",
    "paths": {
      "@user/*": ["src/app/user/*"],
      "@post/*": ["src/app/post/*"],
      "@auth/*": ["src/app/auth/*"],
      "src/*": ["src/*"],
      "*": [
        "node_modules",
        "src/*"
      ]
    }
  },
  "minify": false
}